<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.sys.mapper.PermissionMapper">
	
	<select id="queryPermissionIdsByRoleIds" resultType="java.lang.Integer">
		select distinct pid from sys_role_permission
		<where>
			<foreach collection="list" open="rid in(" close=")" item="rid" separator="," >
				#{rid}
			</foreach>
		</where>
	</select>
</mapper>
