<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.sys.mapper.RoleMapper">
	
	<select id="queryRoleNameByIds" resultType="java.lang.String">
		select name from sys_role
		<where>
			<foreach collection="list" open="id in(" close=")" item="id" separator="," >
				#{id}
			</foreach>
		</where>
	</select>
</mapper>
